*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(0, 0, 0, 0.1);
}

header{
    max-width: 100%;
    padding: 0px;
}

.container-menu{
    max-width: 1330px;
    margin: 0 auto;
}


.container-menu img{
    max-width: 60px;
    margin:10px 0 10px 0;

}

.menu-nav{
    float: right;
}
.titulo-logo{
    color:#056367;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
    position: absolute;
    margin-top: 33px;
    padding-left: 10px;
}


.menu-nav a{
    font-size: 1.4em;
    display: block;
    padding:10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: solid 2px #056367 ;
}

.menu-nav input{
    font-size: 1.4em;
    display: block;
    padding:10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: solid 2px #056367 ;
}

.menu-nav li{
    display:inline-block;
    list-style: none;
    margin:10px 0 10px 0;
    background-color: #056367;
}



.search-container{
    background-color: #056467d0;
    padding: 30px;
}

.search-container h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.search-container h4{
    margin: 5px 0 5px 0;
    text-align: center;
    color: white;
}

.search-border{
    max-width: 500px;
    margin: 0 auto;
    border: solid 2px white;
    background-color: #056367;
}

.section-back{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 130px;

}

.h2-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.h1-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ebebeb;
}
.h1-container h1{
    color: #056367;
    text-transform: uppercase;
    border: solid 2px #056367;
}


.section-container{
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 200px;
}
.section-container a{
    text-decoration: none;
}

.section-container h2{
    text-transform: uppercase;
    font-weight: 1000;
    color:#056367;
    margin-left: 2px;
}
hr{
    border: 0;
	border-top: 5px solid white;
    border-radius: 1000px;
    width: 60px;
    margin-bottom: 10px;
    margin-left: 2px;
}



.imagem-link{
    max-width: 450px;
    border:10px;
    border-radius: 10px;
}

.imagem-link2{
    max-width: 450px;
    border:10px;
    border-radius: 10px;
    float: right;
}

/*footer*/

.footer-container{
    width: 100%;
    background-color: #056367;
    place-items: center;
}

.footer-box{
    max-width: 1330px;
    margin: 0 auto;
    place-items: center;
}

.image-box{
    max-width: 1330px;
    margin: 0 auto;
    place-items: center;
    display: flex;
    justify-content: center;
}

.footer-logo{
    margin-top: 10px;
    max-width: 60px;
}

.footer-logo:hover{
    transform: scaleY(1.1) scaleX(1.1) scaleZ(1.1);
    transition: all 0.5s ease;
    text-shadow: 0 0 10px white;
}

.icons-box{
    color: white;
    justify-content: center;
    display: flex;
    margin-top: 2px;
    flex-wrap: wrap;
}

.fab{
    color: white;
    font-size: 35px;
    padding: 10px 10px;
    text-decoration: none;
}

.fab:hover{
    transform: scaleY(1.1) scaleX(1.1) scaleZ(1.1);
    transition: all 0.5s ease;
    text-shadow: 0 0 10px white;
}

.final-box{
    max-width: 100%;
    background-color: #252525;
    font-family: 'lexend', sans-serif;
    text-align: center;
    font-size: 0.9em;
    color:white;
}
@media(max-width:1200px){
    .section-container{
        justify-content: center;
    }
    .h1-container{
        max-width: 90%;
    }
}